In [1]:
#Dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import requests

## NASA Mars News

In [2]:
#Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/carolinelarry/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

In [3]:
#Setting our url
nasa_url = 'https://redplanetscience.com/'

#Visiting our url on separate browser
browser.visit(nasa_url)

In [4]:
#NASA website HTML file
nasa_html = browser.html
nasa_soup = bs(nasa_html, 'html.parser')
#print(nasa_soup.prettify())

In [5]:
#Finding the news title name
nasa_results = nasa_soup.find('div', class_='list_text')
news_title = nasa_results.find('div', class_='content_title').text
print(news_title)

Screening Soon: 'The Pathfinders' Trains Lens on Mars

In [6]:
#Findind the news paragraph
news_p = nasa_results.find('div', class_='article_teaser_body').text
print(news_p)

With the Mars 2020 mission ramping up, the documentary — the first of four about past JPL missions to the Red Planet to be shown at Caltech — tells a gripping backstory.

## JPL Mars Space Images - Featured Image

In [7]:
#Setting url variable
jpl_url = 'https://spaceimages-mars.com/'

#Visiting our url on separate browser
browser.visit(jpl_url)

In [8]:
#JPL website HTML file
jpl_html = browser.html
jpl_soup = bs(jpl_html, 'html.parser')
#print(jpl_soup.prettify())

In [9]:
#Getting featured image url
jpl_results = jpl_soup.find('div', class_='floating_text_area')

#Finding link for image
image_link = jpl_results.a['href']

#Adding image link to main url to create complete url
complete_image_link = jpl_url + image_link
print(complete_image_link)

https://spaceimages-mars.com/image/featured/mars2.jpg

## Mars Facts

In [10]:
#Setting url to variable
facts_url = 'https://galaxyfacts-mars.com/'

In [11]:
#Reading table from website into table in pandas
mars_table = pd.read_html(facts_url)
mars_table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [12]:
#Creating a datafrace from the table
mars_facts_df = mars_table[1]
mars_facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [13]:
#To html table
html_table = mars_facts_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [14]:
#Cleaning up html_table
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 ( Phobos &amp; Deimos )</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Mars Hemispheres

In [15]:
#Setting url variable
hemisphere_images_url = 'https://marshemispheres.com/'

#Visiting our url on separate browser
browser.visit(hemisphere_images_url)

In [16]:
#Mars Hemispheres website HTML file
mars_hems_html = browser.html
mars_hems_soup = bs(mars_hems_html, 'html.parser')
#print(mars_hems_soup.prettify())

In [17]:
#Getting all results for class=item
mars_hems_results = mars_hems_soup.find_all('div', class_='item')

In [18]:
#Creating empty list to put img_title and img_list in
hemisphere_image_urls = []

#Clicking on each image to find url and looping through
for result in range(len(mars_hems_results)):
    browser.find_by_css("a.product-item img")[result].click()
    img_link = browser.find_by_text("Sample").first["href"]
    img_title = browser.find_by_css("h2.title").text
    hemisphere_image_urls.append({"img_title": img_title, "img_link": img_link})
    browser.back()
print(hemisphere_image_urls)

[{'img_title': 'Cerberus Hemisphere Enhanced', 'img_link': 'https://marshemispheres.com/images/full.jpg'}, {'img_title': 'Schiaparelli Hemisphere Enhanced', 'img_link': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'}, {'img_title': 'Syrtis Major Hemisphere Enhanced', 'img_link': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'}, {'img_title': 'Valles Marineris Hemisphere Enhanced', 'img_link': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]